## <center><h1 style="color: Red;">Yash Patel <span style="color: Green;">(11/27/2021)</span></h1></center>

In [1]:
import pandas as pd

### Creating dataframes using CSV file

In [2]:
# we can create dataframe using CSV file like this
df_csv = pd.read_csv("new_data.csv")
df_csv

        EST  Temprature  WindSpeedMPH     Event
0  1/1/2016          44             2      Rain
1  1/2/2016          39             3      Snow
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow
4  1/5/2016          20             5      Snow
5  1/6/2016          25             8      Rain
6  1/7/2016          46             5      Snow

### Creating dataframe using dictionary

In [3]:
# We can also create data feame from dict
weather_data = {
    'day': [1, 2, 3, 4, 5, 6],
    'temperature': [32, 45, 67, 89, 23, 45],
    'windspeed': [12, 45, 67, 89, 23, 45],
    'event': ['rain', 'snow', 'sun', 'sun', 'sun', 'sun']
}
df_dict = pd.DataFrame(weather_data)
df_dict

   day  temperature  windspeed event
0    1           32         12  rain
1    2           45         45  snow
2    3           67         67   sun
3    4           89         89   sun
4    5           23         23   sun
5    6           45         45   sun

### Shape in pandas dataframes

In [4]:
df_csv.shape

# If yot u want to print shape of rows and colums
rows, colums = df_csv.shape
print("Rows are: ", rows)
print("Colums are: ", colums)

Rows are:  7
Colums are:  4

### Head method in pandas dataframes

In [5]:
# Head function will print first 5 rows of dataframe
df_dict.head()

   day  temperature  windspeed event
0    1           32         12  rain
1    2           45         45  snow
2    3           67         67   sun
3    4           89         89   sun
4    5           23         23   sun

In [6]:
# If we want to print only 2 rows
df_dict.head(2)

   day  temperature  windspeed event
0    1           32         12  rain
1    2           45         45  snow

### Tail method in pandas dataframes

In [7]:
# tail method will print last 5 rows of the dataframe if you dont pass any perameter in it
df_csv.tail()

        EST  Temprature  WindSpeedMPH     Event
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow
4  1/5/2016          20             5      Snow
5  1/6/2016          25             8      Rain
6  1/7/2016          46             5      Snow

In [8]:
# if you what to print last 2 rows then
df_csv.tail(2)

        EST  Temprature  WindSpeedMPH Event
5  1/6/2016          25             8  Rain
6  1/7/2016          46             5  Snow

### Indexing and slicing in pandas dataframes

In [9]:
# Indexing and slicing dataframes
# Syntex: df.column_name[start:end:step]
df_csv[1:4]

        EST  Temprature  WindSpeedMPH     Event
1  1/2/2016          39             3      Snow
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow

In [10]:
# To print all rows and columns
df_csv[:]
# or
# df_csv

        EST  Temprature  WindSpeedMPH     Event
0  1/1/2016          44             2      Rain
1  1/2/2016          39             3      Snow
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow
4  1/5/2016          20             5      Snow
5  1/6/2016          25             8      Rain
6  1/7/2016          46             5      Snow

In [11]:
# To print columns
df_dict.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
# if you want to print only specific content columns
df_dict.day
# or
# df_dict['day']

0    1
1    2
2    3
3    4
4    5
5    6
Name: day, dtype: int64

### What is the type of your dataframe ?

In [13]:
type(df_csv['Event'])

pandas.core.series.Series

In [14]:
# print few columns from dataframe
df_csv[['EST','Temprature']]

        EST  Temprature
0  1/1/2016          44
1  1/2/2016          39
2  1/3/2016          39
3  1/4/2016          33
4  1/5/2016          20
5  1/6/2016          25
6  1/7/2016          46

### Operations with dataframes

In [15]:
# What is the max temprature
df_csv['Temprature'].max()

46

In [16]:
# What is the minimum temprature
df_csv['Temprature'].min()

20

In [17]:
# What is the avg temprature
df_csv['Temprature'].mean()

35.142857142857146

In [18]:
# What is the std temprature
df_csv['Temprature'].std()

9.685531674075708

### Describe method in pandas dataframes

In [19]:
# Describe function will give you all the stats of the dataframe
df_csv.describe()

       Temprature  WindSpeedMPH
count    7.000000      7.000000
mean    35.142857      4.428571
std      9.685532      1.902379
min     20.000000      2.000000
25%     29.000000      3.500000
50%     39.000000      4.000000
75%     41.500000      5.000000
max     46.000000      8.000000

### Conditional selection in pandas dataframes

In [20]:
df_dict[['day', 'temperature']] [df_dict.temperature > 20]

   day  temperature
0    1           32
1    2           45
2    3           67
3    4           89
4    5           23
5    6           45

### set_index() method in pandas dataframes

In [21]:
df_csv

        EST  Temprature  WindSpeedMPH     Event
0  1/1/2016          44             2      Rain
1  1/2/2016          39             3      Snow
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow
4  1/5/2016          20             5      Snow
5  1/6/2016          25             8      Rain
6  1/7/2016          46             5      Snow

In [22]:
# .index in pandas is used to print index of dataframe
df_csv.index

RangeIndex(start=0, stop=7, step=1)

In [23]:
df_csv.set_index('Event', inplace=True)

In [24]:
df_csv

               EST  Temprature  WindSpeedMPH
Event
Rain      1/1/2016          44             2
Snow      1/2/2016          39             3
Fog-Snow  1/3/2016          39             4
Fog-Snow  1/4/2016          33             4
Snow      1/5/2016          20             5
Rain      1/6/2016          25             8
Snow      1/7/2016          46             5

In [25]:
df_csv.loc['Rain']

            EST  Temprature  WindSpeedMPH
Event
Rain   1/1/2016          44             2
Rain   1/6/2016          25             8

In [26]:
# if we want to reset index to orignal one then
df_csv.reset_index(inplace=True)

In [27]:
df_csv

      Event       EST  Temprature  WindSpeedMPH
0      Rain  1/1/2016          44             2
1      Snow  1/2/2016          39             3
2  Fog-Snow  1/3/2016          39             4
3  Fog-Snow  1/4/2016          33             4
4      Snow  1/5/2016          20             5
5      Rain  1/6/2016          25             8
6      Snow  1/7/2016          46             5