In [1]:
import pandas as pd

# importning data set
read_data = pd.read_csv("./nyc_weather.csv")
read_data.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [2]:
# Q1 What is the max temprature
read_data['Temperature'].max()

50

In [3]:
# Q2 Which days it rain
read_data['EST'][read_data['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [4]:
# Q3 What is avg wind speed
read_data.fillna(0, inplace=True)
read_data['WindSpeedMPH'].mean()

6.225806451612903