In [1]:
import pandas as pd

# 1<sup>st</sup> way to create datafreame is with **CSV**

In [4]:
read_csv = pd.read_csv('new_data.csv')
read_csv

        EST  Temprature  WindSpeedMPH     Event
0  1/1/2016          44             2      Rain
1  1/2/2016          39             3      Snow
2  1/3/2016          39             4  Fog-Snow
3  1/4/2016          33             4  Fog-Snow
4  1/5/2016          20             5      Snow
5  1/6/2016          25             8      Rain
6  1/7/2016          46             5      Snow

# 2<sup>nd</sup> way to create datafreame is with **EXCEL(.xlsx file)**

In [7]:
read_xlsx = pd.read_excel("weather_data.xlsx", "Sheet1")
read_xlsx

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

# 3<sup>rd</sup> way to create datafreame is with **Python dictionary**

In [8]:
weather_data = {
    'day': [1, 2, 3, 4, 5, 6],
    'temperature': [32, 45, 67, 89, 23, 45],
    'windspeed': [12, 45, 67, 89, 23, 45],
    'event': ['rain', 'snow', 'sun', 'sun', 'sun', 'sun']
}

read_dict = pd.DataFrame(weather_data)
read_dict

   day  temperature  windspeed event
0    1           32         12  rain
1    2           45         45  snow
2    3           67         67   sun
3    4           89         89   sun
4    5           23         23   sun
5    6           45         45   sun

# 4<sup>th</sup> way to create datafreame is with **Tuples List**

In [9]:
# creating list of tuples
weather_data_tuple = [
    ('1/2/2019', 45, 45, 'snow'),
    ('1/1/2019', 32, 12, 'rain'),
    ('1/3/2019', 67, 67, 'sun'),
    ('1/4/2019', 89, 89, 'sun'),
]

read_tuple = pd.DataFrame(weather_data_tuple, columns=["Day", 'Temprature', "Windspeed", "Event"])
read_tuple

        Day  Temprature  Windspeed Event
0  1/2/2019          45         45  snow
1  1/1/2019          32         12  rain
2  1/3/2019          67         67   sun
3  1/4/2019          89         89   sun

# 5<sup>th</sup> way to create datafreame is with **List of dictionary**

In [10]:
# Creating list of dictionaries
weather_data_dict = [
    {'Day': '1/2/2019', 'Temprature': 45, 'Windspeed': 45, 'Event': 'snow'},
    {'Day': '1/1/2019', 'Temprature': 32, 'Windspeed': 12, 'Event': 'rain'},
    {'Day': '1/3/2019', 'Temprature': 67, 'Windspeed': 67, 'Event': 'sun'},
    {'Day': '1/4/2019', 'Temprature': 89, 'Windspeed': 89, 'Event': 'sun'},
]

read_list_dict = pd.DataFrame(weather_data_dict)
read_list_dict

        Day  Temprature  Windspeed Event
0  1/2/2019          45         45  snow
1  1/1/2019          32         12  rain
2  1/3/2019          67         67   sun
3  1/4/2019          89         89   sun